<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
     xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
     xmlns:context="http://www.springframework.org/schema/context"  
     xsi:schemaLocation="   
           http://www.springframework.org/schema/beans    
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
           http://www.springframework.org/schema/aop    
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd   
           http://www.springframework.org/schema/tx    
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd   ">
           
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
		</bean>
		
	<bean id="templates" class="org.springframework.orm.hibernate3.HibernateTemplate">
	   <property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- bean的定义 -->
	<bean id="test" class="com.crims.pojos.Test" scope="prototype"></bean>
	<bean id="area" class="com.crims.pojos.TArea" scope="prototype"></bean>
	<bean id="cabint" class="com.crims.pojos.TCabint" scope="prototype"></bean>
	<bean id="computroom" class="com.crims.pojos.TComputroom" scope="prototype"></bean>
	<bean id="device" class="com.crims.pojos.TDevice" scope="prototype"></bean>
	<bean id="devicestate" class="com.crims.pojos.TDeviceState" scope="prototype"></bean>
	<bean id="exceptiom" class="com.crims.pojos.TExceptiom" scope="prototype"></bean>
	<bean id="function" class="com.crims.pojos.TFunction" scope="prototype"></bean>
	<bean id="role" class="com.crims.pojos.TRole" scope="prototype"></bean>
	<bean id="rolefunction" class="com.crims.pojos.TRoleFunction"
		scope="prototype"></bean>
	<bean id="task" class="com.crims.pojos.TTask" scope="prototype"></bean>
	<bean id="user" class="com.crims.pojos.TUser" scope="prototype"></bean>
	<bean id="userrole" class="com.crims.pojos.TUserRole" scope="prototype"></bean>
	<!-- bean的定义 -->
	
	<!-- service的定义 -->
	<bean id="tests" class="com.crims.serviceImpl.TestServiceImpl">
		<property name="template" ref="templates"></property></bean>
	<bean id="users" class="com.crims.serviceImpl.UserServiceImpl">
		<property name="template" ref="templates"></property></bean>
	<bean id="devices" class="com.crims.serviceImpl.DeviceServiceImpl">
		<property name="template" ref="templates"></property></bean>
	<bean id="tasks" class="com.crims.serviceImpl.TaskServiceImpl">
		<property name="template" ref="templates"></property></bean>
	<bean id="computrooms" class="com.crims.serviceImpl.ComputRoomServiceImpl">
		<property name="template" ref="templates"></property></bean>
	<bean id="patrols" class="com.crims.serviceImpl.PatrolServiceImpl">
		<property name="template" ref="templates"></property></bean>
	<!-- service的定义 -->
		
		
	<!-- action的定义 -->
		<bean id="testAction" class="com.crims.actions.TestAction">
			<property name="t" ref="test"></property>
	   		<property name="ts" ref="tests"></property>
	   		<property name="u" ref="user"></property>
	   		<property name="us" ref="users"></property>
		</bean>
   <!-- action的定义 -->
   
   
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
		       <ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
		
</beans>